<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Pet Details</title>
  <link rel="stylesheet" href="{{ url_for('static', filename = 'edit_pet.css') }}">
</head>
<body>
  <h1>Edit pet details</h1>
  <div class="update-box">
  <form action="{{ url_for('edit_pet_page', pet_id=pet_properties.id) }}" method="POST" enctype="multipart/form-data">
    <div class="update-fields-box">
      <div class="text-box">
        <div class="form-option-box">
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" value="{{ pet_properties.name }}" required>
        </div>

        <div class="form-option-box">
          <label for="age">Age:</label>
          <input type="number" id="age" name="age" value="{{ pet_properties.age }}" required>
        </div>

        <div class="form-option-box">
          <label for="fee">Fee:</label>
          <input type="number" step="0.01" id="fee" name="fee" value="{{ pet_properties.fee }}" required>
        </div>

        <div class="form-option-box">
          <label for="writeup">Description:</label>
          <textarea id="writeup" name="writeup" required>{{ pet_properties.writeup }}</textarea>
        </div>

        <div class="form-option-box">
          <label for="sex">Sex:</label>
          <select id="sex" name="sex" required>
            <option value="Male" {% if pet_properties.sex == 'Male' %}selected{% endif %}>Male</option>
            <option value="Female" {% if pet_properties.sex == 'Female' %}selected{% endif %}>Female</option>
          </select>
        </div>

        <div class="form-option-box">
          <label for="type">Type:</label>
          <select id="type" name="type" required>
            <option value="Dog" {% if pet_properties.pet_type == 'Dog' %}selected{% endif %}>Dog</option>
            <option value="Cat" {% if pet_properties.pet_type == 'Cat' %}selected{% endif %}>Cat</option>
            <option value="Bird" {% if pet_properties.pet_type == 'Bird' %}selected{% endif %}>Bird</option>
            <option value="Fish" {% if pet_properties.pet_type == 'Fish' %}selected{% endif %}>Fish</option>
            <option value="Reptile" {% if pet_properties.pet_type == 'Reptile' %}selected{% endif %}>Reptile</option>
            <option value="Other" {% if pet_properties.pet_type == 'Other' %}selected{% endif %}>Other</option>
          </select>
        </div>
      </div>
      
      <div class="picture-box">
        {% for photo in pet_properties.photos[:3] %}
        <img src="data:image/png;base64,{{ photo }}" alt="{{ pet_properties.name }}" width="250px" height="250px">
        <input type="hidden" name="existing_photos" value="{{ photo }}">
        {% endfor %}
        <label for="photos">Photos:</label>
        <input type="file" id="photos" name="photos" accept="image/*" multiple>
      </div>
      
    </div>
    <button type="submit" class="update-pet-btn">Update Pet Details</button>
  </form>
  </div>
</body>
</html>