<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Adoption Website Home-page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>

<body>
    <div class="container">
        <h1>Welcome, {{ username }}!</h1>
        <div class="btn-container">
            <a href="{{ url_for('add_pet_page') }}" class="add-pet-btn">Add a New Pet</a>
            <a href="{{ url_for('search_page') }}" class="search-pet-btn">Search for a Pet</a>
            <a href="{{ url_for('change_password_page') }}" class="change-password-btn">Change Password</a>
            <a href="{{ url_for('delete_account_page') }}" class="delete-account-btn">Delete Account</a>
            <a href="{{ url_for('logout_page') }}" class="logout-btn">Logout</a>
        </div>
         
        <div class="pet-grid">
            {% for pet in pets %}
            <div class="pet-card">
                <img src="data:image/png;base64,{{ pet.photos[0] }}" alt="{{ pet.name }}">
                
                <div class="pet-info">
                  <div class="pet-name">Name: {{ pet.name }}</div>
                  <div class="pet-details">
                      <p>Age: {{ pet.age }} years</p>
                      <p>Type: {{ pet.pet_type }}</p>
                      <p>Sex: {{ pet.sex | capitalize }}</p>
                      <p>Fee: ${{ pet.fee }}</p>
                  </div>

                  <div class="pet-writeup">
                      <p>{{ pet.writeup[:100] }}{% if pet.writeup|length > 100 %}...{% endif %}</p>
                  </div>

                  <div>
                    <a href="{{ url_for('edit_pet_page', pet_id=pet.id) }}" class="edit-pet-btn">Edit pet details</a>
                    
                    <br>

                    <a href="{{ url_for('view_pet_page', pet_id=pet.id) }}" class="view-pet-btn">View pet</a>

                    <br>

                    <a href="{{ url_for('delete_pet_page', pet_id=pet.id) }}" class="delete-pet-btn">Delete pet</a>
                  </div>
              </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
