<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search for a Pet</title>
  <link rel="stylesheet" href="{{ url_for('static', filename = 'search.css') }}">
</head>
<body>
  <h1>Search for a pet</h1>
  <div class="main-box">
    <div class="filters-box">
      <h2>Filters</h2>
      <form action="{{ url_for('search_page') }}" method="POST", enctype="multipart/form-data">
        <div class="slider-container">
          <div class="slider-track"></div>
          <div class="slider-range"></div>
          <input type="range" id="min-age-slider" class="slider" min="0" max="{{ max_values.age }}" value="0">
          <input type="range" id="max-age-slider" class="slider" min="0" max="{{ max_values.age }}" value="{{ max_values.age }}">
        </div>
        <p>Selected Age Range: <span id="min-age-value">0</span> - <span id="max-age-value">{{ max_values.age }}</span> years</p>
        <input type="hidden" id="min-age" name="min-age" value="0">
        <input type="hidden" id="max-age" name="max-age" value="{{ max_values.age }}">
        <label for="age-range">Age Range:</label>
        <div class="range-inputs">
          <input type="number" id="age-min-limit" value="0" min="0"> - 
          <input type="number" id="age-max-limit" value="{{ max_values.age }}" min="0">
          <button class="btn limit-btn" type="button" onclick="updateAgeLimits()">Update Age Limits</button>
        </div>

        <div class="slider-container">
          <div class="slider-track"></div>
          <div class="slider-range"></div>
          <input type="range" id="min-fee-slider" class="slider" min="0" max="{{ max_values.price }}" value="0">
          <input type="range" id="max-fee-slider" class="slider" min="0" max="{{ max_values.price }}" value="{{ max_values.price }}">
        </div>
        <p>Selected Fee Range: $<span id="min-fee-value">0</span> - $<span id="max-fee-value">{{ max_values.price }}</span></p>
        <input type="hidden" id="min-fee" name="min-fee" value="0">
        <input type="hidden" id="max-fee" name="max-fee" value="{{ max_values.price }}">
        <label for="fee-range">Fee Range:</label>
        <div class="range-inputs">
          <input type="number" id="fee-min-limit" value="0" min="0"> - 
          <input type="number" id="fee-max-limit" value="{{ max_values.price }}" min="0">
          <button class="btn limit-btn" type="button" onclick="updateFeeLimits()">Update Fee Limits</button>
        </div>

        <br><br>

        <label for="sex">Sex:</label>
        <select id="sex" name="sex">
          <option value="Any">Any</option>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select>

        <br><br>

        <label for="type">Type:</label>
        <select id="type" name="type">
          <option value="Any">Any</option>
          <option value="Dog">Dog</option>
          <option value="Cat">Cat</option>
          <option value="Bird">Bird</option>
          <option value="Fish">Fish</option>
          <option value="Reptile">Reptile</option>
          <option value="Other">Other</option>
        </select>

        <br><br>

        <button type="submit" class="btn">Search</button>
      </form>

      <a href="{{ url_for('home_page') }}" class="btn">Return to home</a>
    </div>

    <div class="results-box">
      {% for pet in pets %}
      <div class="pet-card">
        <img src="data:image/png;base64,{{ pet.photos[0] }}" alt="{{ pet.name }}">

        <div class="pet-info">
          <div class="pet-name">Name: {{ pet.name }}</div>
          <div class="pet-details">
            <p>Age: {{ pet.age }} years</p>
            <p>Type: {{ pet.pet_type }}</p>
            <p>Sex: {{ pet.sex | capitalize }}</p>
            <p>Fee: ${{ pet.fee }}</p>
          </div>

          <div class="pet-writeup">
            <p>{{ pet.writeup[:100] }}{% if pet.writeup|length > 100 %}...{% endif %}</p>
          </div>

          <div class="pet-actions">
            <a href="{{ url_for('view_pet_page', pet_id=pet.id) }}" class="btn">View pet</a>
          </div>
      </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <script src="{{ url_for('static', filename='search.js') }}"></script>
</body>
</html>