<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>View Pet: {{ pet_properties.name }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='view_pet.css') }}">
</head>

<body>
  <h1>View details of {{ pet_properties.name }}</h1>
<div class="view-box">
  <div class="fields-box">
    <div class="text-box">
      <p><strong>Name: {{ pet_properties.name }}</strong></p>
      
      <p><strong>Age: {{ pet_properties.age }}</strong></p>
      
      <p><strong>Fee: {{ pet_properties.fee }}</strong></p>

      <p><strong>Sex: {{ pet_properties.sex }}</strong></p>

      <p><strong>Type: {{ pet_properties.pet_type }}</strong></p>

      <p><strong>Writeup:</strong></p>
      <p>{{ pet_properties.writeup }}</p>
    </div>
    
    <div class="slider">
        {% for photo in pet_properties.photos %}
        <div class="slide">
        <img src="data:image/png;base64,{{ photo }}" alt="{{ pet_properties.name }}" class="img">
        </div>
        {% endfor %}

        <button class="btn btn-next"> &gt; </button>
        <button class="btn btn-prev"> &lt; </button>
    </div>
</div>

    <div class="btn-box">
      {% if not is_owner %}

        {% if is_interested %}
        <a href="{{ url_for('delete_interest_page', pet_id=pet_properties.id) }}" class="delete-interest-btn">Delete Interest</a>

        {% else %}
        <a href="{{ url_for('submit_interest_page', pet_id=pet_properties.id) }}" class="submit-interest-btn">Submit Interest</a>
      
        {% endif %}

      {% else %}
        <h3>Interested parties:</h3>
        {% if not detail_list %}
          <p><strong>There are no parties interested in this pet currently</strong></p>
        {% else %}
          <table>
            <tr>
              <th>Name</th>
              <th>Contact number</th>
            </tr>
            {% for detail in detail_list %}
            <tr>
              <td>{{ detail.username }}</td>
              <td>{{ detail.contact_number }}</td>
            </tr>
            {% endfor %}
          </table>
        {% endif %}
      {% endif %}
      
      <a href="{{ url_for('home_page')}}" class="return-home-btn">Return to Home Page</a>
    </div>

  <script src="{{ url_for('static', filename='view_pet.js') }}"></script>
</body>

</html>