body {
  display: flex;
  font-family: 'Courier New', Courier, monospace;
  background-color: #f1f1f1;
  color:#0f0f0f;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}

h1 {
  font-size: xxx-large;
}

label {
  font-size: xx-large;
  font-weight: 600;
}

input {
  border-radius: 5%;
  font-size: large;
}

button {
  font-size: large;
  display: block;
  width: 200px;
  margin: 20px auto;
  padding: 10px;
  background-color: #3498db;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.register-container {
  text-align: center;
}

.form-group {
  border-color: #999999;
  padding: 10px;
  font-weight: 300;
}

.error-message {
  color: #ff0000;
  font-size: xx-large;
  font-weight: 600; 
}

.return-to-login-link {
  padding: 10px;
  display: block;
  width: 200px;
  margin: 20px auto;
  padding: 10px;
  background-color: #a4d0ec;
  color: black;
  text-align: center;
  text-decoration: none;
  border: 2px solid;
  border-radius: 5px;
  font-weight: bold;
  border-color: #0f0f0f;
}