body {
  display: flex;
  font-family: 'Courier New', Courier, monospace;
  background-color: #f1f1f1;
  color:#0f0f0f;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  text-align: center;
}

.success-message {
  color:#57b52e;
  font-weight: 800;
  font-size: 280%;
}

 .return-to-home-btn {
  display: inline-block;
  margin: 20px;
  padding: 10px;
  background-color: #3498db;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  border: 2px solid;
  border-color: #0f0f0f;
 }